.transactions-container {
    padding: 20px;
  }
  
  .balance-card, .transactions-card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .transactions-card .ant-list-item-meta-avatar {
    margin-right: 16px;
  }
  
  .transactions-card .ant-list-item-meta-title {
    font-weight: bold;
  }