.custom-sidebar {
  background-color: #ffffff;
  border-right: 1px solid #f0f0f0;
}

.brand-container {
  background: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.brand-row {
  width: 100%;
}

.brand-logo {
  height: 40px;
  width: auto;
  margin-right: 10px;
  transition: height 0.3s, width 0.3s, margin-right 0.3s;
}

.collapsed-logo {
  margin: 0;
  height: 30px;
}

.brand-title {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.menu {
  height: calc(100% - 80px); /* Adjust for the brand container height */
  overflow-y: auto;
  background: #ffffff;
  border-right: none;
  padding-bottom: 20px;
}

.menu .ant-menu-item {
  margin: 0;
  transition: all 0.3s ease;
}

.menu .ant-menu-item:hover {
  background: #f5f5f5;
}

.menu .ant-menu-item-selected {
  background: #e6f7ff !important;
}

.menu .ant-menu-item-selected a,
.menu .ant-menu-item-selected .anticon,
.menu .ant-menu-item-selected .ant-menu-title-content {
  color: #1890ff !important;
}

/* Scrollbar Styling for overflow */
.menu::-webkit-scrollbar {
  width: 6px;
}

.menu::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.menu::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.menu::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

